<template>
    <div class="container-fluid">
        <header class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm">
                        <p>Custom Marine Canvas Fabrication</p>
                        <p>810.356.9933 | info@whipstitchcanvas.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 offset-md-3">
                <a href="https://www.facebook.com/whipstitchmarinecanvas/"><font-awesome-icon :icon="['fab', 'facebook']" size="3x"></font-awesome-icon></a>
            </div>
            <div class="col-md-1">
                <a href="https://www.instagram.com/whipstitch_canvas/"><font-awesome-icon :icon="['fab', 'instagram']" size="3x"></font-awesome-icon></a>
            </div>
        </header>
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <img src="./assets/logo.jpeg" class="img-fluid" alt="Whipstitch logo" />
            </div>
        </div>
        <main class="row main">
            <div class="col-md-4 offset-md-8 col-sm-5 offset-sm-7">
                <h3 class="card-title">Vision leads to reality</h3>
                <ul>
                    <li>Custom marine canvas</li>
                    <li>Large M/Y Enclosures</li>
                    <li>Marine Carpet &#38; Vinyl Flooring</li>
                    <li>Cockpit/Mooring Covers</li>
                    <li>Repairs</li>
                    <li>Serving Eastern Michigan</li>
                </ul>
            </div>
        </main>
        <content class="row insta">
            <div class="col-md">
                <img src="./assets/example_1.jpeg" alt="example image 1" class="img-thumbnail" />
            </div>
            <div class="col-md">
                <img src="./assets/example_2.jpeg" alt="example image 2" class="img-thumbnail" />
            </div>
            <div class="col-md">
                <img src="./assets/example_3.jpeg" alt="example image 3" class="img-thumbnail" />
            </div>
            <div class="col-md">
                <img src="./assets/example_4.jpeg" alt="example image 4" class="img-thumbnail" />
            </div>
        </content>
        <footer class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm">
                        <p>Contact:</p>
                        <br />
                        <p>Marine City MI</p>
                        <p>810.356.9933</p>
                        <p>info@whipstitchcanvas.com</p>
                        <a class="btn btn-primary" href="https://docs.google.com/forms/d/1vWrUuacZcJy4kpbE10t05O2iZR4zDvMrLsh14Tjx378" role="button">Contact Form</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-3">
                <p>Hours:</p>
                <br />
                <p>By Appointment</p>
            </div>
        </footer>
    </div>
</template>

<style>
header,
footer,
content,
main {
    background-color: rgb(23, 105, 169);
    color: rgb(255, 255, 255);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    color: rgb(255, 255, 255);
}

p {
    margin-bottom: 0;
}

@media screen and (min-width: 576px) {
    main {
        height: 27rem;
        background-image: url("./assets/center.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

@media screen and (min-width: 1200px) {
    main {
        height: 40rem;
    }
}
</style>
